.button {
  border: 1px solid;
  cursor: pointer;
  background-color: #ad5858;
  color:white;
  border-radius: 5px;
  padding: 10px 20px;


  &:hover {
    background-color: rgb(0, 31, 57);
    color: white;
  }
}
