.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navbarLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 10px 20px;
  background-color: #7a2929;
}
.test {
  padding: 10px 20px;
  background-color: #7a2929;
  border-radius: 20px;
  text-align: center;
  margin-left: 40px;
  transition: transform 0.3s ease, font-weight 0.3s ease, box-shadow 0.3s ease;
  font-size: 1.125rem;
}
.test:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.navbarLink {
  text-decoration: none;
  color: white;
  text-align: left;
}
.navbarLink:hover {
  color: white;
}
.main {
  text-align: center;
  color: #7a2929;
  background-color: black;
  height: 100vh;
}
.gif {
  text-align: left;
  display: flex;
  margin-top: 100px;
}
.text {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding-left: 200px;
}
.logo {
  width: 300px;
  text-align: left;
  border-radius: 10px;
}

.h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-bottom: 10px;
  font-family: 'Abril Fatface', sans-serif;
  letter-spacing: 0.2rem;
}

.h3 {
  padding-left: 200px;
  padding-bottom: 50px;
  font-size: 2rem;
  color: red; 
}
.par {
  padding-bottom: 50px;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.2rem;
  color: red;
}
