.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}
.eventContainer {
  margin-bottom: 20px;
  display: grid;
  padding: 100px;
  justify-content: center;
}

.bandName {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 2rem;
}

.imageContainer {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  align-items: center;
  border: 5px solid #9e95ac;
  border-radius: 8px;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 0.75rem #9e95ac);
}

.eventDetails {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.15rem;
}

.detail {
  margin-bottom: 5px;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
  display: grid;
  padding-top: 10px;
  filter: drop-shadow(0 0 0.4rem #9e95ac);
  font-family: 'Abril Fatface', sans-serif;

}
.pageContainer {
  justify-content: center;
}
